@import "reset.scss";

:root {
  --blink-width: 230px;
  --blink-gray-4: #777777;
  --blink-gray-3: #666666;
  --blink-gray-2: #444444;
  --blink-gray-1: #333333;
  --blink-gray-0: #222222;
  --blink-blue-1: #81aaf5;
  --blink-blue-2: #4b7bd5;
  --blink-text: #fff;
}

.BlinkGui {
  width: var(--blink-width);
  background-color: var(--blink-gray-2);
  color: var(--blink-text);

  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.BlinkField {
  display: flex;
  padding: 0 8px;
  margin-bottom: 4px;
  line-height: 20px;
}

.BlinkText {
  padding: 3px 8px;
  line-height: 16px;
  margin-bottom: 4px;
  text-shadow: 0px 1px 0px var(--blink-gray-1);
}

.BlinkLabel {
  display: block;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 8px;
  text-shadow: 0px 1px 0px var(--blink-gray-1);
  user-select: none;
  text-align: right;
}

.BlinkTextInput,
.BlinkNumberInput {
  width: 100%;
  color: var(--blink-text);
  caret-color: var(--blink-blue-1);
  height: 20px;
  border-radius: 4px;
  border: 1px solid var(--blink-gray-2);
  box-shadow: 0px 1px 0px var(--blink-gray-1);

  &::selection {
    background-color: var(--blink-blue-2);
    color: var(--blink-text);
  }
}

.BlinkTextInput {
  background-color: var(--blink-gray-0);
  padding: 0 6px;

  &:focus {
    outline: none;
    border-color: var(--blink-blue-1);
  }
}

.BlinkNumberInput {
  background-color: var(--blink-gray-3);
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 6px;
    background-color: inherit;
    color: inherit;
    border: none;
    border-radius: inherit;
    text-align: center;
    cursor: col-resize;
    text-shadow: 0px 1px 0px var(--blink-gray-1);

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: var(--blink-gray-4);
    }
  }

  &:focus-within {
    border-color: var(--blink-blue-1);
  }

  button {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    text-align: center;
    width: 12px;
    height: 100%;
    line-height: 18px;
    background-color: var(--blink-gray-3);
    color: var(--blink-text);
    cursor: pointer;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    user-select: none;

    &:hover {
      background-color: var(--blink-gray-4);
    }

    &:last-child {
      left: unset;
      right: 0;
      border-radius: 0;
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }

  &:hover button {
    display: block;
  }
}

.BlinkCheckbox {
  width: 22px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  user-select: none;

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    cursor: pointer;
  }

  svg {
    background-color: var(--blink-blue-2);
    border-radius: 4px;
    box-shadow: 0px 1px 0px var(--blink-gray-1);
    border: 1px solid var(--blink-gray-2);
    path {
      fill: none;
      stroke-width: 2px;
      stroke: var(--blink-text);
    }
  }

  input:not(:checked) + svg {
    background-color: var(--blink-gray-3);
    path {
      display: none;
    }
  }

  input:focus-visible + svg {
    border-color: var(--blink-blue-1);
  }
}

.BlinkButton {
  position: relative;
  width: 100%;
  line-height: 18px;
  padding: 1px 6px;
  border: 1px solid var(--blink-gray-2);
  border-radius: 4px;
  background-color: var(--blink-blue-2);
  color: var(--blink-text);
  cursor: pointer;
  box-shadow: 0px 1px 0px var(--blink-gray-1);
  user-select: none;

  &:focus-visible {
    outline: none;
    border-color: var(--blink-blue-1);
  }

  &:active {
    box-shadow: unset;
    top: 1px;
  }
}

.BlinkVectorField {
  .BlinkField:not(:last-child) {
    margin-bottom: 0;
    .BlinkNumberInput {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .BlinkField:not(:first-child) {
    .BlinkNumberInput {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}
